p {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  

  .header {
    background-color: rgb(177, 234, 250);
    color: #232323;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
  }



  .header2 {
    background-color: rgb(177, 234, 250);
    color: #232323;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
  }


  
  .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
  }
  
  
  
  .section {
    width: 80%;
    max-width: 800px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* referenced */
    border-radius: 9px;
    text-align: center;
    font-size: 18px;
    color: #555;
  }


  .glow {
    width: 300px;
    height: auto;
    border-radius: 13px;
    transition: box-shadow 0.3s ease; /* copied */
  }
